/* Typo */
body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 64px;
}
/* Mix */
.container__small {
  max-width: 800px;
  width: 70%;
  margin: auto;
}
.bg_primary {
  background-color: #2c3e50;
}
.bg_primary--400 {
  background-color: #1a252f;
}
.bg_secondary {
  background-color: #1abc9c;
}
.text_white {
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.divider {
  font-size: 28px;
  margin: 20px 0;
}
.divider i {
  padding: 0 10px;
  vertical-align: middle;
}
.divider::before, .divider::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  max-width: 100px;
  background-color: #fff;
  border-radius: 5px;
  vertical-align: middle;
}
.btn_mobile {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1abc9c;
  color: #fff;
}
.btn_mobile:hover {
  color: #fff;
}

/* Header*/
.header_top {
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 60px;
  height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.logo {
  font-size: 28px;
  color: #fff;
  font-weight: bold
}
.main_nav ul {
  margin-bottom: 0px;
}
.main_nav li {
  display: inline-block;
  padding-left: 15px;
}
.main_nav li a {
  color: #fff;
  font-weight: bold;
}
.main_nav li a:hover {
  color: #1abc9c;
}

.header_hero {
  padding: 80px 0;
  margin-top: 105px;
}
.header_hero__img {
  max-width: 250px;
}
.header_hero p {
  font-size: 24px;
}

/* Sezioni */
section {
  padding: 40px 0;
}

.box_portfolio {
  margin-top: 25px;
}
.box_portfolio__image {
  width: 100%;
}

/* Footer */
.footer_top {
  padding: 40px 0;
}
.footer_bottom {
  padding: 20px 0;
}

/* Responsive */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .header_hero p {
    font-size: 20px;
  }
  .container__small {
    width: 90%;
  }
  .logo {
    font-size: 20px;
    white-space: nowrap;
  }
}
