/* Typo */
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
/* Mix */
.container__small {
  max-width: 800px;
  width: 70%;
  margin: auto;
}
.bg_primary {
  background-color: #2c3e50;
}
.bg_primary--400 {
  background-color: #1a252f;
}
.bg_secondary {
  background-color: #1abc9c;
}
.text_white {
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.divider {
  font-size: 28px;
  margin: 20px 0;
}
.divider i {
  padding: 0 10px;
  vertical-align: middle;
}
.divider::before, .divider::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  max-width: 100px;
  background-color: currentColor;
  border-radius: 5px;
  vertical-align: middle;
}
.mt_30 {
  margin-top: 30px;
}

/* Buttons */
.btn_mobile {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1abc9c;
  color: #fff;
}
.btn_download {
  border: 2px solid #fff;
  background: transparent;
}
.btn_download i {
  margin-right: 10px
}
.btn_mobile:hover, .btn_download:hover {
  color: #fff;
}

/* Header*/
.header_top {
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 60px;
  height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.logo {
  font-size: 28px;
  color: #fff;
  font-weight: bold
}
.main_nav ul {
  margin-bottom: 0px;
}
.main_nav li {
  display: inline-block;
  padding-left: 15px;
}
.main_nav li a {
  color: #fff;
  font-weight: bold;
}
.main_nav li a:hover {
  color: #1abc9c;
}

.header_hero {
  padding: 80px 0;
  margin-top: 105px;
}
.header_hero__img {
  max-width: 250px;
}
.header_hero p {
  font-size: 24px;
}

/* Sezioni */
section {
  padding: 40px 0;
}

.box_portfolio {
  position: relative;
  margin-top: 25px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.box_portfolio__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(26, 188, 156, 0.9);
}
.box_portfolio:hover .box_portfolio__overlay {
  display: block;
}
.box_portfolio__overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
}
.box_portfolio__image {
  width: 100%;
}

/* Footer */
.footer_top {
  padding: 40px 0;
}
.footer_bottom {
  padding: 20px 0;
}

/* Responsive */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .header_hero p {
    font-size: 20px;
  }
  .container__small {
    width: 90%;
  }
  .logo {
    font-size: 20px;
    white-space: nowrap;
  }
}
