.btn_primary {
  background-color: #2c3e50;
  color: #fff;
}
.btn_secondary {
  background-color: #1abc9c;
  color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: black
}

.main_nav li {
  color: green;
}
